<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="layout/layout:: head">
</head>


</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-danger text-white">
			<div class="card-header">
				Error: Acceso Denegado!
				<div class="card-body">
					<h6 class="card-title">
						Sorry <span th:text="${#httpServletRequest.remoteUser}"></span>, You don't
						have permissions to access to this resource.
					</h6>
					<a th:href="@{/listar}" class="btn btn-danger  btn-outline-black"
						role="button"> Home </a>


				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>