<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout:: head">

</head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

	<div class="card-bg-light"></div>
	<div class="card-header" th:text="${titulo}"></div>
	<div class="card-body">
	
	
	<h4 class="card-title"><a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{/form}">Crear cliente</a> </h4>

</div>

	<table class="table table-striped table-bordered">
	
		<thead class="thead-inverse">
			<tr>
				<th sec:authorize="hasRole('ROLE_ADMIN')">Id</th>
				<th>nombre</th>
				<th>apellido</th>
				<th>email</th>
				<th>fecha</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')" >crear factura</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
			</tr>
			
		</thead>
		<tbody>
		
			<tr th:each="cliente: ${clientes}">
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a  class="btn btn-primary btn-xs" th:href="@{/ver/}+${cliente.id}" th:text="${cliente.id}"></a></td>
				<td th:text="${cliente.nombre}"></td>
				<td th:text="${cliente.apellido}"></td> 
				<td th:text="${cliente.email}"></td>
				<td th:text="${cliente.createAt}"></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')" ><a  class="btn btn-primary btn-xs" th:href="@{'/factura/form/' + ${cliente.id}}" th:text="'crear factura'" ></a></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a   class="btn btn-primary btn-xs" th:href="@{/form/} + ${cliente.id}" th:text="'editar'" ></a></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a  class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${cliente.id}" th:text="'eliminar'" onclick="return confirm('Estas seguro que quieres eliminar este registro?');" ></a></td>
			</tr>
		</tbody>
	
	</table>
	
	<nav th:replace="paginator-nav :: paginator"></nav>
	
</div>


<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>